### Books Data-Set

In [1]:
import pandas as pd

In [2]:
books = pd.read_csv('data/BX-Books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

C:\Users\Ashwanth\AppData\Local\Temp\ipykernel_8920\4281189961.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/BX-Books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

In [3]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [4]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]
books.rename(columns={
    'Book-Title': 'title',
    'Book-Author': 'author',
    'Year-Of-Publication': 'year',
    'Publisher': 'publisher',
    'Image-URL-L': 'image_url'
}, inplace=True)

In [5]:
books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'image_url'], dtype='object')

In [6]:
books.shape

(271360, 6)

In [7]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

### User Data Set

In [8]:
user = pd.read_csv("data/BX-Users.csv", sep=";", encoding="latin-1", on_bad_lines='skip')

In [9]:
user.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [10]:
user.rename(columns={
    'User-ID': 'user_id',
    'Location': 'location',
    'Age': 'age'
}, inplace=True)

In [11]:
user.columns

Index(['user_id', 'location', 'age'], dtype='object')

In [12]:
user.shape

(278858, 3)

In [13]:
user.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### Rating Data Set

In [14]:
ratings = pd.read_csv("data/BX-Book-Ratings.csv", sep=";", encoding="latin-1", on_bad_lines='skip')

In [15]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [16]:
ratings.rename(columns={
    'User-ID': 'user_id',
    'Book-Rating': 'rating'
}, inplace=True)

In [17]:
ratings.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [18]:
ratings.shape

(1149780, 3)

In [19]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [20]:
ratings['user_id'].unique().shape

(105283,)

### Analysis  and Preprocessing of Data Set

In [21]:
# how many users have rated more than 200 books
X = ratings['user_id'].value_counts() > 200
print(X)  # ithu True or False value la varum
print(X[X].shape)
print(X[X].index)

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool
(899,)
Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [22]:
# True data value mattu vanum
y = X[X].index 
ratings = ratings[ratings['user_id'].isin(y)]
print(ratings.shape)
ratings

(526356, 3)

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

#### Merge the Rating and Books

In [23]:
print(books.columns)
print(ratings.columns)

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'image_url'], dtype='object')
Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [24]:
# ISBN same ah irruku so atha vaichu merge pannalam (DBMS la join pannura mathiri)
# mela join panninaalum, ratings la irukura books ellam books la irukkum
ratings_books = ratings.merge(books, on='ISBN')

In [25]:
ratings_books.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url'],
      dtype='object')

In [26]:
print(ratings_books.shape)
ratings_books.head()

(487671, 8)

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [27]:
# How many times each book has been rated?
num_ratings = ratings_books.groupby('title')['rating'].count().reset_index()
num_ratings.rename(columns={'rating': 'num_of_ratings'}, inplace=True)
num_ratings.head()

                                               title  num_of_ratings
0   A Light in the Storm: The Civil War Diary of ...               2
1                              Always Have Popsicles               1
2               Apple Magic (The Collector's series)               1
3   Beyond IBM: Leadership Marketing and Finance ...               1
4   Clifford Visita El Hospital (Clifford El Gran...               1

#### Merging the num_rating and ratings_books

In [28]:
print(ratings_books.columns)
print(num_ratings.columns)

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url'],
      dtype='object')
Index(['title', 'num_of_ratings'], dtype='object')

In [29]:
final_ratings = ratings_books.merge(num_ratings, on='title')

In [30]:
print(final_ratings.columns)
print(final_ratings.shape)

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url', 'num_of_ratings'],
      dtype='object')
(487671, 9)

In [31]:
# 50 ratings ku athigam irukura books mattu venum
# ithu tha ratings and book final DataFrame
final_ratings = final_ratings[final_ratings['num_of_ratings'] >= 50]
print(final_ratings.shape)
final_ratings.head()

(61853, 9)

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [32]:
final_ratings.drop_duplicates(['user_id','title'], inplace=True)

In [33]:
final_ratings.shape

(59850, 9)

#### Pivot table

In [34]:
book_pivot = final_ratings.pivot_table(index='title', columns='user_id', values='rating')

In [35]:
print(book_pivot.shape)
book_pivot.head()

(742, 888)

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [36]:
book_pivot.fillna(0, inplace=True)
book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [37]:
# 0 athigam ah irrutha clustering model slow ah work aagum
# so atha avoid pannalaam athuku csr_matrix use pannuvom (M3 la paathom la) 
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot.values)

### Model Building

In [38]:
from sklearn.neighbors import NearestNeighbors

In [39]:
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [40]:
distance, suggestions = model.kneighbors(book_pivot.iloc[27, :].values.reshape(1, -1), n_neighbors=6)

In [41]:
print(distance)
print(suggestions)

[[ 0.         41.14608122 41.86884283 42.47352116 42.48529157 42.50882261]]
[[ 27 634 589 536 230 204]]

In [42]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['A Walk to Remember', 'The Rescue',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'The Cradle Will Fall', 'Granny Dan', 'Fine Things'],
      dtype='object', name='title')

In [43]:
book_names = book_pivot.index
book_names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

### Model Saving

In [44]:
import pickle

In [45]:
pickle.dump(model, open('artifact/model.pkl', 'wb'))
pickle.dump(book_names, open('artifact/book_names.pkl', 'wb'))
pickle.dump(final_ratings, open('artifact/final_rating.pkl', 'wb'))
pickle.dump(book_pivot, open('artifact/book_pivot.pkl', 'wb'))

In [46]:
import numpy as np

In [47]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index ==  book_name)[0][0]
    distance, suggestions = model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
    for i in range(len(suggestions)):
        books = book_pivot.index[suggestions[i]]
        for j in books:
            print(j)

In [52]:
name = '1st to Die: A Novel'
recommend_book(name)

1st to Die: A Novel
Exclusive
The Cradle Will Fall
No Safe Place
Fine Things
The Face of Deception